<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
	</head>
	<!DOCTYPE html>
</html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Bibliothéque
			{% endblock %}
		</title>
		<link rel="stylesheet" href="{{ asset('css/style.css') }}">
	</head>
	<body>
		<header>
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="{{ path('home') }}">SFbibi</a>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ml-auto">
						{% if app.user %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
							</li>
						{% else %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_register') }}">Enregistrement</a>
							</li>
						{% endif %}
					</ul>
				</div>
			</nav>

		</header>
		<main>
			{% block body %}{% endblock %}
		</main>
	</body>
</html></html>
